*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* main div */
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(124, 179, 231);
    transition: 0.8s all;
}

/* header */
h1{
    text-align: center;
    margin-bottom: 1.5%;
    color: #fff;
    font-size: 3em;
}

/* containers */
.container{
    width: 300px;
}

/* result box */
#edu{
    width: 73%;
}

/* input */
input{
    padding: 25px;
    color: black;
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
}

/* rows */
.first-row, .second-row, .third-row, .fourth-row, .fifth-row{
    margin-bottom: 3px;
}

/* input==> button */
input[type = "button"]{
    color: black;
}

/* input==> text */
input[type= "text"]{
    background-color: #fff;
    width: 218px;
}

/* input==> button hover */
input[type = "button"]:hover{
    background-color:rgb(134, 230, 171);
    color: white;
}

/* clear button */
#clear{
    color: rgb(250, 250, 250);
    background-color: rgb(255, 0, 0);
}

/* buttons */
button{
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    color:#fff;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 200;
}

.buttons {
    display: flex;
    margin-left: -2.3px;
}

#mode{
    position: absolute;
    top: 5%;
    right: 5%;
}

/* media queries for 882 * 680 */